body{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
  background-color: lightgreen;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel{
  width: 300px;
  height: 300px;
  padding: 1.8rem;
  margin: 3rem;
  background-color: white;
  box-shadow: 0 0 7px 8px white;
  border-radius: 10px;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#image{
  width :290px;
  height: 290px;
  box-sizing: border-box;
  object-fit: cover;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

button{
  padding: 7px;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 8px;
  background-color:darkslategrey;
  color: white;
  border: none;
  cursor: pointer;
  transition : all 0.3s ease;
}

button:hover{
  transform: scale(1.1);
}