body{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom , rgb(246, 246, 141), white);
  height: 100vh;
  width: 100vw;
}

#container{
  background-color: rgb(0, 255, 187);
  margin: 2rem;
  padding: 1.6rem;
  width: 250px;
  max-height: 350px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

#jokeBox{
  background-color: rgb(6, 95, 147);
  padding: 1rem;
  border: none;
  border-radius: 15px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  max-width: 215px;
  max-height: 100px;
  text-align: center;
}

#setup{
  border-radius: 8px;
  border: none;
  background-color: rgb(23, 222, 229);
  padding: 0.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

#setup:hover{
  transform : scale(1.1);
  background-color: rgb(70, 181, 228);
  cursor: pointer;
}

#nextBtn{
  margin: 1.2rem;
  padding: 0.4rem;
  border: none;
  border-radius: 7px;
  background-color: blanchedalmond;
  font-weight: bold;
  transition: all 0.3s ease;
}

#nextBtn:hover{
  transform: scale(1.1);
  background-color: rgb(250, 209, 154);
  cursor: pointer;
}